<h1><%= @student.to_s %></h1>
<form action="">
  <div>
    <input type="radio" id="active" name="student" value="active">
    <label for="active">Active</label>
  </div>

  <div>
    <input type="radio" id="inactive" name="student" value="inactive">
    <label for="inactive">Inactive</label>
  </div>
  <button type="submit">Submit</button>
</form>
